/*-- scss:defaults --*/

// Colors
$primary: #4b2e83; 
$sand_old: #f0eeeb;
$sand: #F6F5F3;
$gold: #e8e3d3;

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Bebas+Neue&family=Economica:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@300&family=Montserrat:wght@300;400&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,700;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,700&family=Nunito:wght@300&family=Source+Sans+3:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');


/*-- scss:rules --*/
/* -- fonts * --*/
h1, .h1 {
   font-family: 'Economica', sans-serif;
   font-weight: normal;
   text-transform: uppercase;
 }

// h2, .h2 {
//   font-family: 'Economica', sans-serif;
//  }

/* -- Experimental --*/

div.gradient-text {
  background: linear-gradient(
    45deg,
    #e8e3d3,
    #4b2e83,
    #4b2e83,
    #757883,
    #202020,
    #007bc2,
    #4b2e83,
    #007bc2,
    #757883,
    #757883,
    #202020,
    #e8e3d3

  );
  background-size: 800%;
  //font-weight: 900;
//  font-size: 4.1rem;
//  letter-spacing: -3px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 30s ease-in-out infinite;
  -moz-animation: animated_text 30s ease-in-out infinite;
  -webkit-animation: animated_text 30s ease-in-out infinite;
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0px 50%;
  }
}




/*-- navbar --*/

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1em;
  // font-family: 'Arsenal', sans-serif;
  //font-family: 'Bebas Neue', sans-serif;
   font-family: 'Economica', sans-serif;
   text-transform: uppercase;
  }

/*quarto-header {
  /*border-bottom: 1px solid black; */
/*}*/


.navbar-brand.navbar-brand-logo {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 1.5em;
}

.navbar-logo {
  max-height: 150px;
  width: auto;
  align-items: baseline;
}

/*
@media (max-width: 991px) {
  .navbar-brand.navbar-brand-logo {
    margin-left: 5vw;
    margin-right: 10vw;
}
}

@media (max-width: 991px) {
.navbar-logo {
  max-height: 100px;
  width: auto;
  align-items: baseline;
}
}
*/

.nav-item {
  margin-top: 5rem; 
}

/* homepage */
.content-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
  
}

.top-story {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 1em; 
  box-sizing: border-box;
  height: auto;
  display: flex;
  align-items: center;
}

.top-story img {
  height: 100%;
  object-fit: cover;
}


.top-story-text {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1.5rem;
  // font-weight: bold;
  font-size: larger;
}



.top-story-img p {
  margin-bottom: 0;
}

/*-- background styles --*/

.black-background {
  background-color: black;
}

.primary-background {
  background-color: $primary;
}

.gold-background {
  background-color: $gold;
}

.sand-background {
  background-color: $sand;
}

.cmm-background {
  background-image: url("images/cmm5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.flare-background {
  background-image: url("images/flare-dk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 10px;
}




/* -- people --*/

.listing-box:hover {
  border-color: $primary;
  background-color: transparent;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
            0px 2px 4px rgba(0,0,0,0.1), 
            0px 4px 8px rgba(0,0,0,0.1), 
            0px 8px 16px rgba(0,0,0,0.1);
}

.listing-box-title {
  max-width: 80%;
  margin-top: 10px;
  margin-bottom: 12px;
  color: #222;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
}

.listing-box-subtitle {
  /*    margin-top: auto;*/
  //font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 0;
  color: #757883;
  line-height: 1.5;
}

.listing-box-education {
  margin-bottom: 0;
  color: #757883;
  font-size: 12px;
  line-height: 1.5;
}

.listing-box-button a[role="button"] {
  width: 140px;
  min-height: 150px;
  color: rgb(55, 58, 60);
  text-align: center;
  border: 1px solid rgb(222, 226, 230);
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 0.9em;
}

.listing-box-section {
  margin-bottom: 30px;
  box-sizing: border-box;
}


.listing-box-image {
  object-fit: contain;
  width: 100%;
  height: 190px;
}

.quarto-listing-cols-3 {
    padding-left: 10px;
    padding-right: 10px;

}

.quarto-listing-cols-4 {
    padding-left: 10px;
    padding-right: 10px;

}

.anchored {
  padding-top: 8px;
  padding-left: 10px;
}

/* -- publications --*/

.listing-pub-title {
  /*font-family: 'Bebas Neue', sans-serif;
  max-width: 80%;
  margin-top: 10px;
  margin-bottom: 12px;
  color: #222;
  line-height: 1.2;*/
  font-size: 18px;
  font-weight: 700; 
}

.listing-pub-author {
  color: #757883;
  font-size: 13px;
  margin-bottom: 6px;
  /*line-height: 1.5;*/
}

.listing-pub-number {
  font-weight: 700; 
  font-size: 15px;

}

.listing-pub-journal {
  color: #757883;
  font-size: 15px;
  margin-bottom: 8px;
}

.listing-pub-url {
  font-size: 13px;

}